@use '../../../styles/utils/' as *;

.industry {
  @include flex-center-col;
  align-items: flex-start;
  max-width: 1120px;
  gap: 1rem;
  margin: 2rem auto;
}

.industry p {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.industry div {
  margin-top: 2rem;
  align-self: center;
  @include flex-center;
  gap: 1rem;
  width: 200px;
}
