@use '../../../styles/utils/' as *;

.client {
  @include flex-center-col;
  align-items: flex-start;
  max-width: 1120px;
  width: 100%;
  gap: 1rem;
  margin: 4rem auto;
}

.client p {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.client > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;
}

.client > div:last-child {
  @include flex-center;
}

.client div div div {
  @include flex-center;
  justify-content: flex-start;
  gap: 2rem;
}
