@use '../../../styles/utils/' as *;

.product {
  @include flex-center;
  max-width: 1120px;
  gap: 1rem;
  margin: 4rem auto;
}

.product p {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.product > div {
  @include flex-center-col;
  align-items: flex-start;
  width: 100%;

  & div {
    @include flex-center;
    // align-self: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 300px;
  }
}
