@use './utils' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, 'Poppins', sans-serif;
  color: $dark;
}

body {
  min-height: 100vh;
}

section {
  @include flex-center;
  padding: 2rem;
}

.active {
  border-bottom: 2px solid $med-grey;
  color: $med-grey;
}

input:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input,
button {
  width: 100%;
  border: none;
  border-bottom: 1px solid $med-grey;
  padding: 0.5rem;
}

input.btn,
.btn,
.industriesBtn button {
  border-radius: 0.2rem;
  border: none;
  color: $light-grey;
  background-color: $dark;
  cursor: pointer;
  font-weight: 600;
  box-shadow: $btn-shadow;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #f14f5f;
  font-weight: 600;
}

.form {
  @include flex-center-col;
  padding: 2rem;
  row-gap: 1.5rem;

  width: 500px;
  @include md {
    width: 600px;
  }
}

.form label {
  @include flex-center-col;
  align-items: flex-start;
  width: 100%;
}

.form label span {
  font-weight: 600;
}

section .error {
  margin-top: 1rem;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 0.3rem;
  border-radius: 0.25rem;
}

.nopost {
  @include flex-center-col;
  gap: 2rem;
}

.table {
  width: 100%;
  table-layout: fixed;
  max-width: 1120px;
  min-height: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  overflow: hidden;
  border: solid transparent 1px;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

.table th {
  background-color: $dark;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.table td {
  text-align: left;
  padding: 0.5rem 1rem;
  background-color: $light-grey;
  color: $med;
  font-weight: 500;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.table td:last-child {
  text-align: center;
}

.table a {
  padding: 0.5rem;
  font-weight: 600;
  color: $dark;
}

.table a:hover {
  color: $light;
}

.cleanSearch {
  cursor: pointer;
}

.industriesBtn {
  @include flex-center;
  width: 100%;
  gap: 2rem;
}
