$med-grey: rgb(215, 215, 215);
$light-grey: rgb(245, 245, 245);

$light: #2c5364;
$med: #203a43;
$dark: #0f2027;

$fBold: 700;
$fReg: 400;
$fMed: 400;

$default-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
