@use '../../../styles/utils/' as *;

.RegisterProduct {
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
}

.RegisterProduct label:nth-child(1) {
  @include flex-center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
}

.RegisterProduct select {
  width: 200px;
  padding: 0.4rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: $med;
}

.RegisterProduct div {
  @include flex-center-col;
  gap: 1rem;
}

.RegisterProduct div p {
  color: $med2-grey;
  font-weight: 400;
  font-size: 0.89rem;
}

.RegisterProduct div h1 {
  font-size: 2.2rem;
}

.RegisterProduct div span {
  width: 100%;
  font-size: 0.8rem;
  text-align: right;
  color: $dark;
  cursor: pointer;
}
